<div id="post-comments" class="post-comments js-comments hidden">
    <div class="mx-auto px-4 max-w-1000">
        <div class="py-4 px-5 shadow rounded-md border border-gray-100">
            {{!-- Disqus Comments --}}
            <div id="remark42"></div>
            <div id="disqus_thread"></div>
        </div>
    </div>
</div>

{{#contentFor "scripts"}}
<script>
!(function (e, n) {
    if (!remark_config) return;
    remark_config.url = '{{url absolute="true"}}';
    if (document.documentElement.classList.contains("dark")) remark_config.theme = "dark";
    n.querySelector('.js-comments').classList.remove('hidden')
    for (var o = 0; o < e.length; o++) {
        var r = n.createElement('script'),
            c = '.js',
            d = n.head || n.body
        'noModule' in r ? ((r.type = 'module'), (c = '.mjs')) : (r.async = !0),
            (r.defer = !0),
            (r.src = remark_config.host + '/web/' + e[o] + c),
            d.appendChild(r)
    }
    document.querySelector('.js-dark-mode').addEventListener('click', function() {
        if (remark_config.theme === 'dark') return window.REMARK42.changeTheme('light');
        window.REMARK42.changeTheme('dark');
    });
})(remark_config.components || ['embed'], document);

(function(d, s, id) {
    if (typeof disqusShortName === 'undefined') return;

    var disqus_config = function () {
        this.page.url = '{{url absolute="true"}}';
        this.page.identifier = 'ghost-{{comment_id}}';
    };

    d.querySelector('.js-comments').classList.remove('hidden')
    /*var disqusComments = d.querySelectorAll('.js-comments');
    disqusComments.forEach(function(item){item.classList.remove('u-hide')});*/

    function loadDisqus() {
        var currentScroll = d.scrollingElement.scrollTop;
        var disqusTarget = d.getElementById('disqus_thread');

        if (d.getElementById(id)) return;

        if( disqusTarget && (currentScroll > disqusTarget.getBoundingClientRect().top - 150) ) {
            var js = d.createElement(s);
            js.id = id;
            js.src = 'https://'+disqusShortName+'.disqus.com/embed.js';
            js.async = true;
            js.defer = true;
            js.setAttribute('data-timestamp', +new Date());
            d.body.appendChild(js);

            window.removeEventListener('scroll', loadDisqus);
        }
    }

    window.addEventListener('scroll', loadDisqus);

    document.querySelector('.js-dark-mode').addEventListener('click', function() {
        if (window.DISQUS) {
            DISQUS.reset({
                reload: true,
                config: disqus_config
            });
        }
    });
}(document, 'script', 'disqus-js'));
</script>
{{/contentFor}}