<div class="post-wrap max-w-1100 relative mx-auto">
    <div id="post-body" class="post-body px-4 mx-auto max-w-740 relative">{{content}}</div>
</div>

<footer class="post-footer px-4 mx-auto max-w-740 pt-10">
    {{!-- Tags - ./partials/components/tags,hbs --}}
    {{> "components/tags"}}

    {{!-- Social Share - ./partials/components/social-share --}}
    {{> "components/social-share" Tracking_name="Footer"}}

    <hr class="my-10">

    {{!-- Post Comments - partials/article/article-comments.hbd --}}
    {{> "article/article-comments"}}
</footer>